@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
  font-family: "Poppins", sans-serif;
}

.lead {
  padding-top: 20px;
  font-size: 15px;
}

.featurette-heading {
  letter-spacing: -0.05rem;
  font-size: 30px;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}

/* Navbar */

#header {
  z-index: 997;
  transition: all 0.5s;
  height: 100px;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  height: 60px;
  background: rgba(25, 28, 31, 0.8);
}

#navbar {
  gap: 50px;
}
.header .nav-link {
  color: white;
}

.header .active .nav-link {
  color: #ffb727;
}

/* Navbar End */

/* button */
#btn-cover {
  background-color: #f56eb3;
  color: white;
}

#btn-cover:hover {
  background-color: #cb1c8d;
  border-color: #cb1c8d;
  transition-delay: 50ms;
}

#btn-login {
  background-color: #f56eb3;
}

#btn-login:hover {
  background-color: #cb1c8d;
  border-color: #cb1c8d;
}

.btn {
  background-color: #865dff;
  border-color: #865dff;
}

.btn:hover {
  background-color: #460c68;
  border-color: #460c68;
  transition-delay: 50ms;
}
/* button */

/* HERO section */
#hero {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #865dff;
}

#hero .container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

/* Pricing Section */

/*Card*/

.list-unstyled li {
  margin-bottom: 10px;
}

.list-unstyled li i {
  margin-left: 10px;
  margin-right: 5px;
}

/*Card*/

.pricing-header {
  max-width: 1000px;
}

/* Pricing Section End */

/* Table Compare */

#compare-table {
  padding-top: 100px;
}

#compare-table h2 {
  padding-bottom: 50px;
}

#bi-check {
  font-size: 20px;
}

#table-notes {
  font-size: 15px;
}

/* Table Compare End */

/* Feature Section */

@media (min-width: 0px) and (max-width: 768px) {
  #row-info {
    display: block;
  }
}

#infrastucture_note {
  margin: 30px;
}

#row-features {
  padding-bottom: 100px;
}

#row-info {
  padding-bottom: 50px;
}

/* Feature Section End */

/* Footer */

.bottom {
  background-color: #865dff;
  color: white;
  padding-top: 30px;
}

/* Footer End */
